@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
font-family: "Open Sans", serif;
}

.wrapper {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

background: rgba(45,176,224,1);
background: -moz-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,176,224,1)), color-stop(100%, rgba(96,40,168,1)));
background: -webkit-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
background: -o-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
background: -ms-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
background: linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
}

button {
border: 2px solid #103a65;
border-bottom: 4px solid #103a65;
padding: 8px 20px;
margin: 0 2px;
margin-left: 60px;
border-radius: 2px;
cursor: pointer;
background-color: #235d9c;
color: #fff;
}
